body {
    color: white;
    background: rgb(177, 102, 10);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 4px rgb(0, 110, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 222, 222);
}

.chamada {
    background: rgb(60, 1, 122);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: auto;
}

.chamada h1 {
    margin: 2%;
}

.chamada p {
    margin: 2%;
}

.categoria-videos { 
    margin: 1%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(255, 255, 255);
}